body {padding: 20px;}
p {line-height: 200%; position: relative;}
p i {font-style: normal;position: relative;}
p i span:hover {cursor:pointer;}
p i:nth-child(1) {margin-right:5px;}
p i:nth-child(1) span:nth-child(1) { 
    content: "";
    width:80%;
    height:5px;
    display:inline-block;
    position: absolute;
    bottom:-5px;
    left:10%;
    border-bottom:2px solid orange;
    border-left:2px solid orange;
    border-right:2px solid orange;
}
p i:nth-child(1) span:nth-child(2) { 
    content: "";
    width:80%;
    height:5px;
    display:inline-block;
    position: absolute;
    top:-5px;
    left:10%;
    border-top:2px solid red;
    border-left:2px solid red;
    border-right:2px solid red;
}
p i:nth-child(2) {margin-right:5px;}
p i:nth-child(2) span:nth-child(1) { 
    content: "";
    width:80%;
    height:5px;
    display:inline-block;
    position: absolute;
    bottom:-5px;
    left:10%;
    border-bottom:2px solid orange;
    border-left:2px solid orange;
    border-right:2px solid orange;
}
p i:nth-child(2) span:nth-child(2) { 
    content: "";
    width:80%;
    height:5px;
    display:inline-block;
    position: absolute;
    top:-5px;
    left:10%;
    border-top:2px solid red;
    border-left:2px solid red;
    border-right:2px solid red;
}
p i:nth-child(3) span:nth-child(1),
p i:nth-child(4) span:nth-child(1),
p i:nth-child(5) span:nth-child(1),
p i:nth-child(6) span:nth-child(1),
p i:nth-child(7) span:nth-child(1) { 
    content: "";
    width:80%;
    height:5px;
    display:inline-block;
    position: absolute;
    bottom:-5px;
    left:10%;
    border-bottom:2px solid orange;
    border-left:2px solid orange;
    border-right:2px solid orange;
}
p i:nth-child(3) span:nth-child(2) {
	content: "";
    width:90%;
    height:5px;
    display:inline-block;
    position: absolute;
    top:-5px;
    left:10%;
    border-top:2px solid red;
    border-left:2px solid red;
}

p i:nth-child(4) span:nth-child(2),
p i:nth-child(5) span:nth-child(2),
p i:nth-child(6) span:nth-child(2) { 
    content: "";
    width:100%;
    height:5px;
    display:inline-block;
    position: absolute;
    top:-5px;
    left:0px;
    border-top:2px solid red;
}

p i:nth-child(7) span:nth-child(2) {
	content: "";
    width:90%;
    height:5px;
    display:inline-block;
    position: absolute;
    top:-5px;
    right:10%;
    border-top:2px solid red;
    border-right:2px solid red;
}
#tooltip {
	position: absolute;
	display:none;
	background: #333;
	color:white;
	padding:5px;
}