header {
	border-bottom:0px;
}
header h1, header h2, #downloads {
	display:none;
}
nav ul {
	position:relative;
	top:-20px;
}
nav ul li {
	display:inline-block;
	float:left;
	width:100px;
}

ul li:before {
	content: "";
}
nav img {
	width:16px;
	height:16px;
}

a {
	text-decoration: none;
}

a:hover {
	color:orange;
}

h4 {
	font-size: 16px;
}