header {
	border-bottom:0px;
}
header h1, header h2, #downloads {
	display:none;
}
nav ul {
	position:relative;
	top:-20px;
}
nav ul li {
	display:inline-block;
	float:left;
	width:100px;
}

ul li:before {
	content: "";
}
nav img {
	width:16px;
	height:16px;
}

a {
	text-decoration: none;
}

a:hover {
	color:orange;
}

#main_content {
	margin-top:30px;
}

#main_content h4 {
	font-size: 16px; 
}

#main_content hr {
	margin: 20px;
	border-bottom: 1px dashed #bcecdc;
    color: #cccccc;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container {
	max-width:800px;
}

@media (max-width: 800px) {
    /* For mobile phones: */
    .container {
        width: 95%;
    }
}

@media (max-width: 400px) {
    /* For mobile phones: */
    
    .container {
        width: 95%;
        font-size:90%;
    }
	nav ul {
		margin:4px;
		padding:4px;
	}
    nav ul li {
    	font-size:90%;
		width:79px;
	}
	nav img {
		width:12px;
		height:12px;
	}
}