body {padding: 20px;}

#tooltip {
	position: absolute;
	display:none;
	background: #000;
	color:#FFF;
	padding:5px;
    z-index:99;
}
p {line-height: 200%; position: relative;}
p span {font-style: normal;position: relative;}

.vaid {
    width:100%;
    height:25px;
    display:inline-block;
    position: absolute;
    top:8px;
    left:50%;
    font-size:9px;
    /*color:#1b1b1b;*/
    color:#888;
    font-style: normal;
}

.vaid:hover{
    color:#FFF;
    visibility: visible;
}

span i.alone{
    content: "";
    width:75%;
    height:5px;
    display:inline-block;
    position: absolute;
    bottom:-5px;
    left:5%;
    border-bottom:2px solid orange;
    border-left:2px solid orange;
    border-right:2px solid orange;
}
span b.alone{
    content: "";
    width:75%;
    height:5px;
    display:inline-block;
    position: absolute;
    top:-5px;
    left:5%;
    border-top:2px solid red;
    border-left:2px solid red;
    border-right:2px solid red;
}

span b.head {
    content: "";
    width:90%;
    height:5px;
    display:inline-block;
    position: absolute;
    top:-5px;
    left:10%;
    border-top:2px solid red;
    border-left:2px solid red;
}

span b.cross {
    content: "";
    width:100%;
    height:50px;
    display:inline-block;
    position: absolute;
    top:-5px;
    left:0px;
    border-top:2px solid red;

}
span b.tail {
    content: "";
    width:90%;
    height:5px;
    display:inline-block;
    position: absolute;
    top:-5px;
    right:10%;
    border-top:2px solid red;
    border-right:2px solid red;
}

span i, span b {
}

span i:hover, span b:hover{
    cursor:pointer;
}

button{
    color:#333;
    background-color:#CCC;
    outline:0px;
    border:1px solid #DDD;
}

button.on{
    background-color:orange;
}

button:hover {
    cursor:pointer;
    background-color:#EEE;
}