<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1" />
    <meta name="description" content="ESNS">
    <link rel="shortcut icon" type="image/png" href="/assets/image/peanut.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/theme_mod.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>All Things in the World - ESNS</title>
  </head>

  <body>
    <!-- <header>
      <div class="container">
        <nav>
          <ul>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
            <li><a href="/about/">关于</a></li>
            <li><a href="/D/">赞</a></li>
            <li><a href="/misc/">杂项</a>
              <ul>
                <li>book</li>
                <li>manga</li>
                <li>medicine</li>
                <li>world</li>
              </ul>
            </li> 
          </ul>
        </nav>
      </div>
    </header> -->

    <div class="container">
      <nav>
        <a href="/index">最新动态</a>
        <a href="/esns/link/index">阅读</a>
        <a href="/esns/code/index">代码</a>
        <a href="/esns/music/index">音乐</a>
        <a href="/esns/movie/index">电影</a>
        <a href="/esns/misc/world/index">世界</a>
        <a href="/esns/misc/medicine">医学</a>
        <a href="/esns/misc/other">杂文</a>
      </nav>
      <section id="main_content">
        {{ content }}
      </section>                      
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92075113-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>