<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<script type="text/javascript" src="/assets/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/assets/js/analysis.js"></script>
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		<link rel="stylesheet" href="{{ '/assets/css/theme_mod.css?v=' | append: site.github.build_revision | relative_url }}">
		<link rel="stylesheet" href="{{ '/assets/css/english.css?v=' | append: site.github.build_revision | relative_url }}">
	</head>
	<body>
		{{ content }}
	</body>
</html>